body { 
  font-family: 'Poppins',sans-serif;


  
}



  /* القوائم*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 13, 134);
  }
    
    /* القوائم*/

        /*LOGO*/
#logo{
  position: absolute;
  top: -1%;
  left:2%;
  z-index:100;
  
  
  }
  /*LOGO*/

.AddAnnotator{
  font-weight: lighter;
  text-align: center;
  
  font-size: 250%;
  color: rgb(0, 0, 0);
}


input[type=text] {
  width: 150%;
  padding: 5px 20px;
  margin: 7px 0;
  box-sizing: border-box;
  border: 2px solid ;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.13);

}

.Enter{

  position: fixed;
  left: 40%;
  top: 30%;
  color: #000;
  
}

/*button*/

button{
  margin-top: 50px;
  width: 10%;
  background-color: #000000c2;
  color: #ffffff;
  padding: 7px 0;
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  position: fixed;
  top: 40%;
  left: 44%;
}
/*button*/
