body { 
    font-family: 'Poppins',sans-serif;
  
  
    
  }


  
  /* القوائم*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 13, 134);
  }
    
    /* القوائم*/

        /*LOGO*/
#logo{
    position: absolute;
    top: -1%;
    left:2%;
    z-index:100;
    
  
  }
  /*LOGO*/

  .TextAdmin{
text-align: center;
top: 20%;
left: 33%;
font-size: 300%;
color: rgba(0, 0, 0, 0.507);
  }



 

  


/*btn-group*/
.btn-group button {

  background-color: #000000c2; /* Green background */
  font-size: large;
  border-radius: 5px;
  color: rgb(255, 255, 255); /* White text */
  padding: 10px 0;/* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 30%; /* Set a width if needed */
  display: block;}

.btn-group button:not(:last-child) {
  border-bottom: none;
  /* Prevent double borders */
}


/* Add a background color on hover */
.btn-group button:hover {
  background-color: rgb(0, 13, 134);
}
/*btn-group*/


h4 {
    color: #000000;
    text-align: center;}


 


 .position1{
   position: fixed;
top: 40%;
left: 37%;
width: 90%;

 }